<!--# подключаем статические внешние файлы к нашему шаблону-->
{% load static %}
<!--# подключаем файл news_tags.py который содержит наш тэг-->
{% load news_tags %}

<!--<!DOCTYPE html>-->
<html>
<head>
	<title>{{title}}</title>
	<!--    # подключение файла оформления. Используем тег static который подключили в начале этого шаблона и указываем путь к файлу оформления т.е. к styles.css-->
	<link type="text/css" href="{% static 'news_portal/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'news_portal/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
<!--# проходим по списку словарей из файла views.py-->
{% for m in menu %}
<!--	{% if not forloop.last %}-->
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
<!--	{% else %}-->
<!--			-->
<!--	{% endif %}-->
{% endfor %}
<!--Если пользователь авторизован, то предлагать ему Выйти-->
			{% if request.user.is_authenticated %}
			<li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
<!--Иначе предлагать Войти-->
			{% else %}
			<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
<!--		{% getcats filter=3 %}-->
<!--		# вызов функции getcats нашего тэга-->
<!--		# чтобы содержимое тэга getcats перенести в переменную применяют ключевое слово 'as' с помощью которого переменная categories будет ссылаться на данные нашего тэга getcats-->
<!--		{% getcats as categories %}-->
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все категории</li>
{% else %}
		<li><a href="{% url 'home' %}">Все категории</a></li>
{% endif %}
<!--# включающий тэг из файла news_tags.py-->
<!--# вызывается тэг show_categories, сортировка идёт по имени(её можно не указывать) и cat_selected обозначает выбранную категорию-->
<!--{% show_categories 'name' cat_seleсted %}-->
<!--Вывод рубрик через коллекцию cats-->
{% for c in cats %}
<!--если обьект с из коллекции cats имеет значение свойства news_portal > 0	(значит рубрика имеет хотя бы одну запись), то выводим этот пост	-->
{% if c.news_portal__count > 0 %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{ c.name }}</li>
	{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
	{% endif %}
{% endif %}
{% endfor %}
	</ul>
    </td>
<td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock %}

	<div class="content-text">
{% block content %}
{% endblock %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
	<ul>

<!--если имеется предыдущая страница -->
{% if page_obj.has_previous %}
<li class="page-num">
<!--то отображаем стрелку на предыдущую страницу -->
	<a href="?page={{page_obj.previous_page_number }}"> < </a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}

        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

<!--если имеется следующая страница -->
{% if page_obj.has_next %}
<li class="page-num">
	<!--то отображаем стрелку на следующую страницу -->
	<a href="?page={{page_obj.next_page_number }}"> > </a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
	</div>
</td></tr></table>
</td></tr>
	<tr><td valign=top>
	<div id="footer">
	</div>
	</td></tr></table>
</body>
</html>
